body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(241, 241, 241);
    height: 24vh;
}

h1 {
    margin-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border: 0.65px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#cart {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

#top-panel {
    border-bottom: 0.65px solid black;
}

#top-panel #edit-button,
#top-panel #close-edit {
    float: right;
    background-color: white;
    border: 0;
}

#product {
    margin-left: 10px;
    padding-bottom: 90px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 0.4px solid black;
}

#product #product-image {
    /* put divs beside each other */
    float: left;
}

#product #product-image img {
    width: 90px;
    height: 90px;
}

#product-name {
    /* put divs beside each other */
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    width: 30%;
}

#product-price {
    /* put divs beside each other */
    float: left;
    margin-top: 10px;
}

#producut #checkbox-input {
    float: right;
}

#product #checkbox-input input {
    margin-left: 40px;
    margin-top: 20px;
}

#remove-button button:hover {
    background-color: grey;
}

#bottom-panel #checkout-button {
    background-color: #2691d9;
    border: 0.4px solid black;
    color: yellow;
    padding: 3px;
    border-radius: 10px;
    font-weight: bold;
}

#bottom-panel #remove-button {
    /* put divs beside each other */
    float: right;
    background-color: lightgrey;
    border: 0;
    padding: 2px;
    font-weight: bold;
    display: none;
}

@media (max-width: 768px) {
    #container {
        width: 90%;
    }
    #product-name {
        margin-left: 20px;
    }
    #product #remove-button button {
        margin-left: 10px;
        margin-top: 30px;
    }
}