body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
}

#categories-list {
    background-color: yellow;
}

#categories-list #category {
    margin-left: 10px;
}

#categories-list #category input {
    margin-right: 5px;
}

#container a {
    color: black;
    text-decoration: none;
}

#container {
    background-color: rgb(255, 255, 255);
    /* height: 500px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 10px;
    grid-column-gap: 10px;
    margin: 40px 15% 20px;
}

#container #product {
    background-color: white;
    margin-bottom: 10px;
    border: 0.1px solid rgb(208, 207, 207);
    /* max-width: 300px; */
    text-align: center;
    border-radius: 5px;
}

#container #image {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
}

#container #image img {
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

#container #product #bottom-panel {
    height: 125px;
}

#container #product:hover,
#container #image:hover {
    transition: 0.25s;
    transform: scale(1.01);
    cursor: pointer;
    border: 0px;
}

#container #price {
    font-size: 20px;
    color: red;
}

#container #product:nth-child(2n) {
    border-left: 0px;
}

#description p {
    margin-bottom: 0;
}

#price p {
    margin-top: 6px;
}

#remove-button {
    background-color: red;
    border: 0.4px solid black;
    border-radius: 50px;
    padding: 5px;
}

#remove-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

@media (max-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-column-gap: 10px;
        margin: 0;
    }
    #container #product {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0px;
        border-bottom: 0px;
    }
    #container #product #image {
        width: 100%;
        height: 70%;
    }
    #container #product #bottom-panel {
        height: 125px;
    }
    #container #product:nth-child(2n) {
        border-left: 0.5px solid black;
    }
    #container #image img {
        width: 100%;
        height: 200px;
    }
    #footer {
        height: 40%;
    }
}