#footer {
    background-color: rgb(222, 218, 218, 0.5);
    font-size: 15px;
    padding: 15px;
    text-align: center;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

#footer a {
    text-decoration: none;
}

#footer footer {
    margin-top: 20px;
}

#footer #logo {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    #footer #logo {
        width: 30px;
        height: 30px;
    }
}

@media screen (max-height: 700px) {}