body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(241, 241, 241);
}

#shop-by {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: gold;
    color: #0e5e94;
}

#brand h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 35px;
    margin: 0;
    font-weight: normal;
}

#container {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

#container div h1 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 4px;
}

#left-container {
    height: 88%;
}

#left-container img {
    width: 100%;
    height: 100%;
}

#right-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    height: 480px;
    height: 70%;
}

#right-container #category {
    width: 100%;
    height: 100%;
}

#right-container #category img {
    width: 100%;
    height: 70%;
}

#right-container #category:hover,
#left-container:hover {
    transition: 0.25s;
    transform: scale(1.03);
}

@media (max-width: 768px) {
    #brand {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    #search-box {
        float: center;
        margin: 0;
        width: 60%;
    }
    #container {
        grid-template-columns: 1fr;
    }
    #left-container {
        height: 100%;
    }
    #left-container img {
        width: 100%;
        height: 82%;
    }
    #right-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        height: 480px;
        height: 100%;
    }
    #right-container #category {
        width: 100%;
        height: 100%;
    }
    #right-container #category img {
        width: 100%;
        height: 70%;
    }
    #container div h1 {
        font-size: 20px;
    }
    #footer {
        position: relative;
    }
}