body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(241, 241, 241);
}

#shop-by {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: gold;
    color: #0e5e94;
}

#brand h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 35px;
    margin: 0;
    font-weight: normal;
}

#container {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

#container #category {
    height: 350px;
}

#container #category img {
    height: 80%;
    width: 100%;
}

#container div h1 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 4px;
}

#container #category:hover {
    transition: 0.25s;
    transform: scale(1.03);
}

@media (max-width: 768px) {
    #brand {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    #search-box {
        float: center;
        margin: 0;
        width: 60%;
    }
    #container {
        grid-template-columns: 1fr 1fr;
    }
    #container #category {
        height: 250px;
    }
    #footer {
        position: relative;
    }
}