body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2691d9;
    box-shadow: 0 2px 4px 0 rgb(73, 73, 73);
    font-size: 18px;
    font-weight: bold;
}

ul button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #2691d9;
    ;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border: 0.5px solid black;
}

li {
    float: left;
}

#user {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: grey;
}