body {
    margin: 0;
}

.navbar {
    -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 6px 6px -6px #999;
    box-shadow: 0 6px 6px -6px #999;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2691d9;
    /* box-shadow: 0 2px 4px 0 rgb(73, 73, 73); */
    font-size: 16px;
    font-weight: bold;
}

li {
    float: left;
}

#user {
    float: right !important;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: yellow;
    color: black !important;
}

#search-box #search-bar,
#search-box-mobile #search-bar {
    width: 350px !important;
    border-radius: 0px !important;
}

#search-box #option,
#search-box-mobile #option {
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background-color: gold;
    font-weight: bold;
}

#search-box button,
#search-box-mobile button {
    border-radius: 0px !important;
}

#search-box button:hover {
    background-color: yellow !important;
    color: black !important;
}

#cart-wish-mobile {
    margin-right: 10px;
    margin-top: 25px;
    display: none;
    float: right;
}

#cart-wish-mobile a {
    color: black;
    text-decoration: none;
}

#cart-wish-mobile a:hover {
    background-color: yellow;
}

@media (max-width: 768px) {
    #cart-wish {
        display: none;
    }
    #cart-wish-mobile {
        display: block;
    }
    #brand-mobile-div #brand-mobile {
        display: block !important;
        margin-left: 10px;
        margin-top: 20px;
        color: #0e5e94;
        text-decoration: underline;
        text-decoration-color: gold;
        text-decoration-thickness: 4px;
    }
    #brand-mobile-div a {
        color: #0e5e94;
    }
    #search-box,
    #search-box #search-bar,
    #search-box #option {
        display: none;
    }
    #search-box-mobile {
        display: block !important;
    }
    #search-box-mobile #search-bar {
        width: 65% !important;
    }
    #search-box-mobile #option {
        margin: 0;
        width: 25%;
    }
    #search-box-mobile button {
        width: 10% !important;
    }
}