body {
    margin: 0;
}

.navbar {
    -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 6px 6px -6px #999;
    box-shadow: 0 6px 6px -6px #999;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2691d9;
    /* box-shadow: 0 2px 4px 0 rgb(73, 73, 73); */
    font-size: 16px;
    font-weight: bold;
}

ul button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #2691d9;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

li {
    float: left;
}

#user {
    float: right !important;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: yellow;
    color: black !important;
}

#search-bar {
    width: 350px !important;
}

@media (max-width: 768px) {
    #user {
        float: left;
    }
}