body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-size: 30px !important;
}

.container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-gap: 20px;
}

.left-child {
    border-top: 0.4px solid black;
    margin-right: 20px;
    margin-left: 20px;
}

.left-child #image {
    background-color: white;
    flex: 1;
    width: 100%;
    /* Can be in percentage also. */
    height: 40%;
    margin: 0 auto;
    position: relative;
    display: flex;
    object-fit: cover;
    border-left: 0.4px solid black;
    border-right: 0.4px solid black;
    border-bottom: 0.4px solid black;
}

.left-child #image img {
    display: flex;
    height: 300px;
    width: 100%;
}

.left-child #rating-panel {
    background-color: white;
    display: flex;
    height: 300px;
    width: 100%;
    border-bottom: 0.4px solid black;
    border-left: 0.4px solid black;
    border-right: 0.4px solid black;
}

.left-child #rating-panel h1 {
    height: 0;
}

.left-child #rating-panel form {
    margin-top: 10px;
    height: 80%;
}

.right-child {
    flex: 1;
    border-bottom: 0.4px solid black;
    margin-right: 20px;
    max-height: 540px;
    overflow-y: scroll;
}

.right-child #top-panel {
    border-bottom: 0.4px solid black;
    width: 100%;
}

.right-child #item-code {
    margin-top: 30px;
    margin-bottom: 10px;
}

.right-child #brand {
    margin-top: 20px;
}

.right-child #brand img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.right-child #bottom-panel {
    margin-top: 10px;
    border-top: 0.4px solid black;
}

.right-child #bottom-panel button {
    margin-left: 5px;
    margin-bottom: 0;
}

.right-child #reviews-panel {
    border-top: 0.4px solid black;
    margin-top: 60px;
}

.right-child #reviews-panel #review {
    border-bottom: 0.4px solid black;
}

.right-child #reviews-panel #review p {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.cart-button,
.wishlist-button {
    margin-top: 14px;
    margin-bottom: 14px;
    cursor: pointer;
    float: left;
    color: white;
    padding: 8px;
    background-color: #1DA1F2;
    border: 0.5px solid #1DA1F2;
    margin-right: 10px;
}

#cart-button:hover,
#wishlist-button:hover {
    background-color: #15252f;
    border: 0.5px solid #1e9eee;
}


/* .container #description {
  flex: 1;
  border-bottom: 0.4px solid black;
  border-top: 0.4px solid black;
  margin-left: 20px;
} */

@media (max-width: 768px) {
    .container,
    #image {
        flex-direction: column;
        align-items: center;
        display: flex;
        grid-template-columns: 0;
        grid-gap: 0;
    }
    .right-child {
        margin-right: 20px;
        margin-left: 20px;
        width: 90%;
        max-height: 100%;
        overflow-y: hidden;
    }
    .left-child {
        width: 95%;
        margin: 0;
    }
}