body {
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-size: 30px !important;
}

.container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-gap: 20px;
}

.left-child {
    border-top: 0.4px solid black;
    margin-right: 20px;
    margin-left: 20px;
}

.left-child #image {
    cursor: pointer;
    background-color: white;
    flex: 1;
    width: 100%;
    /* Can be in percentage also. */
    height: 35%;
    margin: 0 auto;
    position: relative;
    display: flex;
    object-fit: cover;
    border-left: 0.4px solid black;
    border-right: 0.4px solid black;
    border-bottom: 0.4px solid black;
}

.left-child #image img {
    display: flex;
    height: 300px;
    width: 100%;
}

.left-child #productCarousel {
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.left-child #small-images img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.left-child #rating-panel {
    background-color: white;
    display: flex;
    height: 350px;
    width: 100%;
    border-bottom: 0.4px solid black;
    border-left: 0.4px solid black;
    border-right: 0.4px solid black;
}

.left-child #rating-panel h1 {
    height: 0;
}

.left-child #rating-panel form {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    height: 80%;
    width: 100%;
}

.left-child #rating-panel form button {
    margin-top: 10px;
    float: right;
}

.left-child #rating-panel #text-box {
    width: 100%;
}

.left-child #rating-panel #text-box #body {
    width: 100%;
    resize: none;
}

.right-child {
    flex: 1;
    border-bottom: 0.4px solid black;
    margin-right: 20px;
    max-height: 590px;
    overflow-y: scroll;
}

.right-child #top-panel {
    border-bottom: 0.4px solid black;
    width: 100%;
    padding: 10px;
}

.right-child #middle-panel {
    padding: 10px;
}

.right-child #bottom-panel {
    padding: 10px;
    border-top: 0.4px solid black;
}

.right-child #item-code,
.right-child #in-stock,
.right-child #nb-in-stock {
    margin-top: 30px;
    margin-bottom: 10px;
}

.right-child #brand {
    margin-top: 20px;
}

.right-child #brand img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.right-child #bottom-panel button {
    margin-left: 5px;
    margin-bottom: 0;
}

.right-child #reviews-panel {
    border-top: 0.4px solid black;
    margin-top: 60px;
}

.right-child #reviews-panel #review {
    border-bottom: 0.4px solid black;
}

.right-child #reviews-panel #review p {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
}

#delete-review {
    background-color: red;
    border: 0.4px solid black;
    float: right;
}

.cart-button,
.wishlist-button {
    margin-top: 14px;
    margin-bottom: 14px;
    cursor: pointer;
    float: left;
    color: white;
    padding: 8px;
    background-color: #1DA1F2;
    border: 0.5px solid #1DA1F2;
    margin-right: 10px;
}

.cart-button:hover,
.wishlist-button:hover {
    background-color: red;
    border: 0.5px solid #1e9eee;
}


/* .container #description {
  flex: 1;
  border-bottom: 0.4px solid black;
  border-top: 0.4px solid black;
  margin-left: 20px;
} */

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    /* Add a pointer on hover */
}

#hidden-container {
    position: relative;
    display: none;
    z-index: 3;
}

#top-section {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border: 0.65px solid;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

#bottom-section {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border: 0.65px solid black;
    border-top: 0;
}

button {
    float: right;
}

#big-image {
    margin: 0 auto;
}

#big-image img {
    width: 350px;
    height: 350px;
}

#rest-of-images img {
    height: 70px;
    width: 70px;
}

#rest-of-images img:hover {
    background-color: grey;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container,
    #image {
        flex-direction: column;
        align-items: center;
        display: flex;
        grid-template-columns: 0;
        grid-gap: 0;
    }
    .right-child {
        margin-right: 20px;
        margin-left: 20px;
        width: 90%;
        margin-top: 20px;
        max-height: 100%;
        overflow-y: hidden;
    }
    .left-child {
        width: 95%;
        margin: 0;
    }
    .left-child #top-panel h1 {
        display: inline;
    }
}