<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../Footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<div id="footer">
    <a href="/brand/Samsung">
        <img id="logo" src="../samsung_logo.jpg">
    </a>
    <a href="/brand/Apple">
        <img id="logo" src="../apple_logo.jpg">
    </a>
    <a href="/brand/LG">
        <img id="logo" src="../LG_logo.png">
    </a>
    <a href="/brand/Sony">
        <img id="logo" src="../sony_logo.jpg">
    </a>
    <footer>&copy; 2022 BuyForLess</footer>
</div>

</body>

</html>