<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../Navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <ul>
        <!-- <li><img src="../tv.jpg"></li> -->
        <li><a href="/home">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <% if(currentUser) { %>
            <li id="user"><a href="/user/wishlist"><i class="fa fa-heart-o" aria-hidden="true" style="font-size:18px;">
                        <%= currentUser.wishlist.length %>
                    </i></a></li>
            <li id="user"><a href="/user/cart"><i class="fa fa-shopping-cart" style="font-size:18px">
                        <%= currentUser.cart.length %>
                    </i></a></li>
            <li id="user"><a href="/user/logout">Logout</a></li>
            <% } %>
                <li id="user"><a href="/contact">Contact</a></li>
                <li id="user"><a href="/user/account"><i class="fa fa-user" aria-hidden="true"
                            style="margin-right: 10px;"></i>Account</a></li>
    </ul>

</body>

</html>