<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../Home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <div id="brand">
            <h1 style="margin-left: 10px;">BuyForLess</h1>
        </div>
        <div id="search-box">
            <input type="text" placeholder="Search store..">
        </div>
        <br><br>
        <section id="container">
            <a href="/product/category/APPLIANCE">
                <div id="left-child">
                    <img src="../appliances.jpg">
                    <h1>Appliances</h1>
                </div>
            </a>
            <a href="/product/category/MOBILE">
                <div id="middle-child">
                    <img src="../mobiles.jpg">
                    <h1>Mobile phones</h1>
                </div>
            </a>
            <a href="/product/category/TV">
                <div id="right-child">
                    <img src="../tvs.jpg">
                    <h1>Televisions</h1>
                </div>
            </a>
        </section>
        <div id="footer">
            <footer>2022 BuyForLess</footer>
        </div>
    </body>
    </body>

    </html>