<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../Home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <h1 id="shop-by">Shop by category</h1>
        <section id="container">
            <div id="category">
                <a href="/product/category/APPLIANCE">
                    <img src="../appliances2.jpg">
                    <h1>Appliances</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/MOBILE">
                    <img src="../mobiles.jpg">
                    <h1>Mobile phones</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/TV">
                    <img src="../tvs.jpg">
                    <h1>Televisions</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/CAMERA">
                    <img src="../camera.jpg">
                    <h1>Cameras</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/GAMING">
                    <img src="../gaming.jpg">
                    <h1>Gaming</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/LAPTOP">
                    <img src="../laptops.jpg">
                    <h1>Laptops</h1>
                </a>
            </div>
        </section>
    </body>