<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Not found</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./Notfound.css">
    </head>

    <body>
        <div id="not-found">
            <h1>Oops. Page not found.</h1>
        </div>
        <div id="body-parag">
            <p>The link you have entered might be expired, or not available. If you have written the link by hand, recheck the link for any mistakes.</p>
        </div>
        <div id="go-back">
            <button type="button" onclick="history.go(-1)">Go back</button>
        </div>

    </body>