<% layout('layouts/boilerplate')%>
<head>
    <meta charset="UTF-8">
    <title>Buy4Less</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../test.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<section id="home-container">
    <div id="test">
        <h1 id="shop-by">Category</h1>
        <div id="categories-container">
            <div id="category">
                <a href="/product/category/APPLIANCE">
                    <img src="../appliances2.jpg">
                    <h1>Appliances</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/MOBILE">
                    <img src="../mobiles.jpg">
                    <h1>Mobile</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/TV">
                    <img src="../tvs.jpg">
                    <h1>Televisions</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/CAMERA">
                    <img src="../camera.jpg">
                    <h1>Cameras</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/GAMING">
                    <img src="../gaming.jpg">
                    <h1>Gaming</h1>
                </a>
            </div>
            <div id="category">
                <a href="/product/category/LAPTOP">
                    <img src="../laptops.jpg">
                    <h1>Laptops</h1>
                </a>
            </div>
        </div>
    </div>
</section>