<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../Signup.css">
    </head>

    <body>
        <div class="center">
            <h1>Edit Account</h1>
            <form action="/user/account" method="POST">
                <div class="txt_field">
                    <input type="text" name="product[name]" placeholder="First name" required>
                </div>
                <div class="txt_field">
                    <input type="text" name="product[brand]" placeholder="Last name" required>
                </div>
                <div class="txt_field">
                    <input type="text" name="product[description]" placeholder="Address" required>
                </div>
                <div class="txt_field">
                    <input type="text" name="product[code]" placeholder="Phone number" required>
                </div>
                <div class="select_field">
                    <select name="product[category]">
                        <option>Mr</option>
                        <option>Mrs</option>
                    </select>
                </div>
                <input type="submit" value="Save">
            </form>
        </div>

    </body>