<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../Account.css">
        <title>Account</title>
    </head>

    <body>
        <div class="center">
            <h1>Edit Account</h1>
            <form action="/user/account" method="POST">
                <div class="txt_field">
                    <input type="text" name="user[first_name]" value="<%=currentUser.first_name  %> ">
                </div>
                <div class="txt_field">
                    <input type="text" name="user[last_name]" value="<%=currentUser.last_name  %> ">
                </div>
                <div class="txt_field">
                    <input type="text" name="user[address]" value="<%=currentUser.address  %> ">
                </div>
                <div class="txt_field">
                    <input type="text" name="user[phone_nb]" value="<%=currentUser.phone_nb  %> ">
                </div>
                <div class="select_field">
                    <select name="title">
                        <option>Mr</option>
                        <option>Mrs</option>
                    </select>
                </div>
                <input type="submit" value="Save">
            </form>
        </div>

    </body>