<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../Signup.css">
    </head>

    <body>
        <div class="center">
            <h1>Edit Account</h1>
            <form action="/user/account" method="POST">
                <div class="txt_field">
                    <input type="text" name="first_name" placeholder="First name">
                </div>
                <div class="txt_field">
                    <input type="text" name="last_name" placeholder="Last name">
                </div>
                <div class="txt_field">
                    <input type="text" name="address" placeholder="Address">
                </div>
                <div class="txt_field">
                    <input type="text" name="phone_number" placeholder="Phone number">
                </div>
                <div class="select_field">
                    <select name="title">
                        <option>Mr</option>
                        <option>Mrs</option>
                    </select>
                </div>
                <input type="submit" value="Save">
            </form>
        </div>

    </body>