<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../Cart.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <% if(currUser.cart.length>0) {%>
            <section id="container">
                <div id="cart">
                    <div id="top-panel">
                        <h1>Cart</h1>
                    </div>
                    <% for(let product of currUser.cart) {%>
                        <a href="/product/<%= product._id %> ">
                            <section id="product">
                                <div id="product-image">
                                    <img src="<%= product.images[0].url %> ">
                                </div>
                                <div id="product-name">
                                    <h7>
                                        <%= product.name %>
                                    </h7>
                                </div>
                                <div id="product-price">
                                    <h7 style="color: red;">
                                        $
                                        <%= product.price %>
                                    </h7>
                                </div>
                                <div id="remove-button">
                                    <button>Remove</button>
                                </div>
                            </section>
                        </a>
                        <% } %>
                            <div id="bottom-panel">
                                <button>Proceed to checkout</button>
                            </div>
                </div>
            </section>
            <% } else {%>
                <h1>No products in cart currently.</h1>
                <% } %>
    </body>