<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Login.css">
    </head>

    <body>
        <div class="center">
            <h1>An email will be sent to your inbox shortly.</h1>
        </div>
    </body>