<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <title>Forgot password</title>
        <link rel="stylesheet" href="../Forgot_pass.css">
    </head>

    <body>

        <body>
            <div class="center">
                <div class="alert alert-info" role="alert" style="display: none;" id="alert">
                    An email will be sent to you shortly containing a link to reset your password.
                </div>
                <h2>Enter your email below in order to receive an email containing a link to reset your password.</h2>
                <div class="txt_field">
                    <input type="text" name="email" placeholder="Email" id="emailInput">
                </div>
                <button type="button" id="submitButton">Submit</button>
            </div>
            <script src="../forgotPass.js"></script>
        </body>
    </body>