<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <title>Reset password</title>
        <link rel="stylesheet" href="../../../Reset_password.css">
        <link rel="stylesheet" href="../../../Footer.css">
        <link rel="stylesheet" href="../../../Navbar.css">
    </head>

    <body>
        <div class="center">
            <h1>Change password</h1>
            <form action="/user/resetpassword/<%= userID %>/<%= token %> " method="POST">
                <div class="txt_field">
                    <input type="password" name="token" id="newpass" required onfocusout="checkPass()">
                    <span></span>
                    <label>New password</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="newPassword" id="retypepass" required onfocusout="checkPass()">
                    <span></span>
                    <label>Retype password</label>
                </div>
                <input type="submit" value="Save" id="submit">
            </form>
        </div>
        <script>
            function checkPass() {
                if (document.getElementById("newpass").value !== document.getElementById("retypepass").value) {
                    document.getElementById("submit").style.display = none;
                    alert("Passwords do not match");
                }
            }
        </script>
    </body>