<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../Cart.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <div class="container">
            <% for(let product of currUser.wishlist) {%>
                <h1>
                    <%= product.name %>
                </h1>
                <form action="/product/deleteFromWishlist/:id" method="POST">
                    <button id="removecart-button" style="background-color: red;">Remove</button>
                </form>
                <% } %>
        </div>
    </body>